
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

h1 {
  font-size: 60px;
}

.activity-text{
  font-weight: 900;
  text-align: center;
  font: 800 400px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 6px 6px 6px rgba(0,0,0,0.1);
}

#activity-header {
  padding-bottom: 10px;
  /*color: #cc44dd;*/
  color: white; 
  font-size: 60px;
}


#my-map {
  height: 500px;
  /*position: absolute;
  top: 0;
  right:0;
  width:400px;*/
  padding: 0 15px 15px 15px;
  margin-top: 2%
}

.marker-me{
  text-align: center;
  font-family: 'Arvo', serif;
  
}
.result-header {
  font-size: 40px;
  font-weight: 600;

}

h3 {
  font-size: 20px
}


#list {
  height: 500px;
  overflow: scroll;
  margin-top: 2%
}

 #center-header {
    font-size: 22px;
    margin-top: 10px;
    font-family: 'Arvo', serif;
  }

a {
  color: black;
}
.center-text {
  margin-right: 20%;
  text-align: center;
}

.btn-lg {
  color: #FFFFFF;
  background-color: #e73f3f;
  border-color: #c31502;
}

.btn-style1 {
  /*margin: 0 auto 0 auto;*/
  display: inline-block;
  padding: 0 10px 10px 10px;
}
.btn-style2 {
  /*margin: 0 auto 0 auto;*/
  display: inline-block;
  padding: 0 20px 20px 20px;
}


/*.result-box {
  /*display: inline-block;*/
  /*text-align: center;
  padding-right: 5px;
  border-right: 3px solid gray;
  font-family: 'Arvo', serif;
}*/



.result {
  padding: 0 10px 10px 10px;
  border: 2px solid #F0F0F0;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  /*background-color: #f1f1f1;*/
  font-family: 'Arvo', serif;
/*  width: 200px;
  height: 200px;*/
  display: block;
  position: relative;
 }


 .result-img {
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
 
.center {
  text-align: center;
  }

#search-form {
  vertical-align: top;
  padding-left: 15%;
}

#sort_by_btn {
  color: #FFFFFF;
  background-color: #e73f3f;
  border-color: #c31502;
  border-radius: 4px;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.col-sm-2 {
  padding-right: 0px;
}

.btn-group-vertical {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 9;
  min-width: 101px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-group-vertical.filter-group {
  left: 30px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  min-width: 101px;
}

button[type="submit"] {
  margin-left: 0%;

}

button[type="search"] {
  margin-left: 20%;

}


/*.btn-primary.btn-sm.search {
  margin-left: 20%
}*/

#restaurant_name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 60px;
}

.highlight {
  color: #e79c0c;
}

#address {
  margin-bottom: 5px;
}

.activity {
  background-position: center center;
  color: white;
  background-color: black;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  font-size: 180%;
  opacity: 0.7;
}


.table>tbody>tr>th {
  font-size: 120%;
}

