
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.activity-text{
  font-weight: 900;
  text-align: center;
  font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 6px 6px 6px rgba(0,0,0,0.1);
}

#activity-header {
  padding-bottom: 10px;
  /*color: #cc44dd;*/
  color: black; 
}


#my-map {
  height: 500px;
  /*position: absolute;
  top: 0;
  right:0;
  width:400px;*/
  padding: 0 15px 15px 15px;
  margin-top: 2%
}

#result-header {
  text-align: center;
}

#list {
  height: 500px;
  overflow: scroll;
  margin-top: 2%
}

 #center-header {
    font-size: 22px;
    margin-top: 10px;
  }

.center-text {
  font-family: Raleway
  font-size: 60px;
  margin-right: 20%;
}

.btn-lg {
  color: #FFFFFF;
  background-color: #e73f3f;
  border-color: #c31502;
}

.btn-style1 {
  /*margin: 0 auto 0 auto;*/
  display: inline-block;
  padding: 0 10px 10px 10px;
}
.btn-style2 {
  /*margin: 0 auto 0 auto;*/
  display: inline-block;
  padding: 0 20px 20px 20px;
}

#result-box {
  /*display: inline-block;*/
  text-align: center;
  padding-right: 5px;
  border-right: 1px solid gray;
}


.result {
  padding: 0 10px 10px 10px;
  border: 2px solid #F0F0F0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
  }

#search-form {
  vertical-align: top;
  padding-left: 15%;
}

#sort_by_btn {
  color: #FFFFFF;
  background-color: #e73f3f;
  border-color: #c31502;
  border-radius: 4px;
}

.col-sm-2 {
  padding-right: 0px;
}

.btn-group-vertical {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 9;
  min-width: 101px;
}

.btn-group-vertical.filter-group {
  left: 30px;
}

button[type="submit"] {
  margin-left: 25%;
}

#restaurant_name {
  font-weight: bold;
  margin-top: 10px;
}

.highlight {
  color: #e79c0c;
}

#address {
  margin-bottom: 5px;
}