


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

  {% block head %}
  {% endblock %}


</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img id="logo" src=" ../static/images/reservation_tonight_logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse ">
      
        {% if session.get('user_id') %}
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li role="presentation" class="active"><a href="/user">{{ session.get('email') }}</a></li>
            <li role="presentation"><a href="/user_logout">Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right nav-pills">
            <li role="presentation" class="active"><a href="/user_login">User Sign In</a></li>
            <li role="presentation"><a href="/user_register">Register</a></li>
            <li role="presentation"><a href="/restaurant_login">Restaurant Sign In</a></li>
          </ul>
        {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  
  
</div>
<div id="flash">
    <p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </p>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  {% block content %}
  {% endblock %}
</body>
</html>


