
{% extends 'base.html' %}
{% block head %}

  <title>Reservations Tonight</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <style>
    body {
      background-image: url("http://payload403.cargocollective.com/1/6/213784/10366094/Neon-7_900.jpg");
      background-size: cover;
    }
  </style>


{% endblock %}

{% block content %}

<form action="/search" id="search-form" method="GET">

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 center-block">
        <h1 id="home-header" class="header-text">Reservations Tonight</h1>
    </div>
    <div class="search">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-section">
                <div class="row">
                    <form role="form">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="sr-only" for="party_size">Party Size</label>
                          <input type="text" name="party_size" class="form-control" id="party_size" placeholder="Select Party Size">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label class="sr-only" for="cuisine">Cuisine</label>
                          <select id="cuisine" name="cuisines" form="search-form" class="form-control" placeholder="Select Cuisine">required>
                              <option value="mexican">Mexican</option>
                              <option value="italian">Italian</option>
                              <option value="chinese">Chinese</option>
                              <option value="french">French</option>
                              <option value="korean">Korean</option>
                              <option value="japanese">Japanese</option>
                              <option value="indpak">Indian/Pakistani</option>
                              <option value="ethiopian">Ethiopian</option>
                          </select>
                        </div>
                      </div>
                        <div class="col-md-2">
                        <div class="form-group">
                          <label placeholder="Select Time" class="sr-only" for="timestamp">What Time?</label>
                          <select id="timestamp" name="timestamp" form="search-form" class="form-control" >required>
                              <option value="5 pm">5 pm</option>
                              <option value="6 pm">6 pm</option>
                              <option value="7 pm">7 pm</option>
                              <option value="8 pm">8 pm</option>
                              <option value="9 pm">9 pm</option>
                              <option value="10 pm">10 pm</option>
                              <option value="11 pm">11 pm</option>
                          </select>
                        </div>
                      </div>
                              

                      <div class="col-md-2">
                        <button type="submit" class="btn btn-default btn-primary">Search</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endblock %}
























