{% extends 'base.html' %}
{% block head %}

  <title>Reservations Tonight</title>
  <link rel="stylesheet" href="/static/css/results_form.css">
    <style>
        body {
            background-image: url("static/images/Neon-7_900.png");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="activity-text" id="activity-header">
        <h1> User Activity<h1>
    </div>

        <div class= "activity">
            <div class="container">

                <table class="table table-hover">
                    <tbody>

                {% for reservation in reservations %}
                    {% if reservation.reservation_status == 'Reserved' %}

                            <td>{{reservation.saved_expires}}</td>
                            <td>{{ reservation.reservation_status}}</td>
                            <td>{{ reservation.restaurant.restaurant_name }}</td>
                            <td>{{ reservation.restaurant.address_line_1 }}</td>
                            <td>{{ reservation.restaurant.zipcode }}</td>
                            <td>{{ reservation.party_size }}</td>
                        </tr>

     
        
                {% else %}
                    <tr>
                        <td> {{ reservation.reservation_status}} </td>
                        <td>{{ reservation.restaurant.restaurant_name }}</td>
                        <td>{{ reservation.restaurant.address_line_1 }}</td>
                        <td>{{ reservation.restaurant.zipcode }}</td>
                            <div class="btn-style1" style="display: inline;">
                                <form action= "/reserve/{{ reservation.id }}" id="reserve" method="POST">
                                    <button type="submit" class="btn btn-default btn-lg" style="display:inline;">Reserve</button>
                                    </button>
                                </form>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
                </table>
                </div>
        
        </div>

    </div>

{% endblock %}
