{% extends 'base.html' %}
{% block content %}

    <h1>Login</h1>
    
    <form>

        <div>
            <label>Email:
                <input type="email" class='email' name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" class='password' name="password" required>
            </label>
        </div>

        <div>
            <input class= "login" type="submit" value="Log In">
        </div>

    </form>
    <script>
    $('.login').on('click', function(){
       $.ajax({
         type: 'POST',
         url: '/user_login',
         data: {
            email: $('.email').val(),
            password: $('.password').val()
         },
         success: function(data) {
            console.log('Received data!!', data)
         },
         dataType: 'json'
       })
    })

    
    </script>

{% endblock %}