{% extends 'base.html' %}
{% block head %}

  <title>Reservations Tonight</title>
  <link rel="stylesheet" href="/static/css/style.css">
  
{% endblock %}

{% block content %}
    
{% for reservation in reservations %}
    {% if reservation.reservation_status == 'Open' %}
        <h1> {{ reservation.reservation_status}} </h1>
        <h1>{{ reservation.restaurant.restaurant_name }}</h1>
        <h3>{{ reservation.restaurant.address_line_1 }}</h3>
        <h3>{{ reservation.restaurant.zipcode }}</h3>
    {% else %}
        <h1> {{ reservation.reservation_status}} </h1>
        <h1>{{ reservation.restaurant.restaurant_name }}</h1>
        <h3>{{ reservation.restaurant.address_line_1 }}</h3>
        <h3>{{ reservation.restaurant.zipcode }}</h3>
    {% endif %}

{% endfor %}


{% endblock %}